*{
    margin:0;
    padding:0;
    /* overflow-x: hidden; */
}
html{
  width: 100%;
  overflow-x: hidden;
}
/* @media only screen and (max-width:480px) {
  html{
    width: 100%;
    overflow-x: hidden;
  }
} */

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.navbar ul li
{
    list-style-type: none;
     padding-right: 0.5em;
     font-size:1.2rem;
}
.navbar ul li:hover{
    font-size:1.4rem;
}
.navbar ul
{
  margin-left: auto;
}
nav
{
    width: 100%;
    height: 70px;
    background-color: transparent;
    position: fixed;
}
nav ul li a
{
   text-decoration: none;
   color:black;
   padding:5px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   transition: 0.3s linear;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#Home {
    width: 100%;
    height: 80%;
    background: skyblue;
  }
.Home-section-heading{
    padding-top:150px;
    padding-left:90px; 
} 
.Home-section img{
    padding-top:100px;
  
    height:90%;
    width:90%;  
  } 
.Home-section button{
    padding:10px;
    border:none;
    outline:none;
    margin-right:10px;
    border-radius:5%;
    border:solid;
    border-color:#28abb9;
    font-size:1.2rem;
    background-color: rgb(211, 235, 243);
}
.Home-section button:hover{
    background-color: #8bcdcd;
}
#Home .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #home {
      height: 100%;
      text-align: center;
    }
    #Home .animated {
      -webkit-animation: none;
      animation: none;
    }
    #Home .Home-img {
      text-align: center;
    }
    #Home .Home-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #Home h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #Home h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #Home .Home-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    html
    {
      overflow-x: hidden;
    }
    .navbar-toggler
    {
        margin-right: 0px;
    }
    
     #Home
      {
          height: 100%;
      }
    #Home .Home-img img {
      width: 80%;
    }
    #Home .register {
      font-size: 16px;
      padding: 10px 24px 11px 24px; 
    }
    .Home-section-heading
    {
        margin-left: 10px;
        padding-left: 10px;
        margin-top: -10px;
    }
    h1 
    {
        text-align: center;
    }
    
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  #why-us
  {
     width: 100%;
     padding:20px 0px 40px 0px; 
     background-color: rgb(226, 237, 241);
  }
  .accordion-item
  {
     background-color: white;
     border-radius: 5px;
  } 
  .acc_title
  {
     margin-left: 5px;
  }
  .acc_title:hover{
      color:rgb(80, 198, 245);
  }
  /* --------------------------------------------------- */
  /*              Progress bar section                   */
  /* --------------------------------------------------- */
  .progress_bar
  {
     height: 80%;
     width: 100%;
     background-color: black;
     /* padding:20px 90px 20px 90px; */
     
  }
  .section-heading
  {
     padding: 40px 90px 0px 90px;
  }
  .sub-heading
  {
     padding: 5px 90px 0px 90px;
  }
  .progress_bar h4
      {
         /* font-size: 15px; */
         text-align: center;
         margin-right: 60px;
      }
  .bg_image_bar
  {
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed;
  }
  @media (max-width: 575px)
  {
    .section-heading , .sub-heading
    {
      padding:0 0 0 0px;
    }
    /* .progress_bar
    {
      
    } */
    @media (max-width: 600px) {
      .progress_bar h4
      {
         font-size: 16px;
         text-align: center;
      }
      .pie {
        width: 100px !important;
        height: 100px !important;
        /* align-items: center; */
      }
      .pie svg {
        width: 100px;
        height: 100px;
        /* margin-left: 20px; */
      }
    }
    
  }
  .prog_card
  {
    font-size: 15px;
    box-shadow: 0px 0px 5px 1px rgb(104, 103, 103);
    transition: box-shadow 0.2s ease-in-out;
  }
  .prog_card:hover
  {
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  }
  /* ------------------------------------------------ */
  /*               Mentor Page */
  /* ------------------------------------------------ */
  .mentor
  {
     height: 60%;
     width: 100%;
  }
  .mentor_img
  {
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 6%;
  }
  .mentor_hover_img
  {
     position: relative;
     filter: blur(10px);
     opacity: 0;
     top:0;
     left: 0;
     height: 100%; width: 100%; 
   
  }
  .mentor_hover_img:hover{
    opacity: 1;
  }
  .mentor .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mentor .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    text-decoration: none;
  }
  
  .mentor .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
    
  }
  .mentor .social a:hover {
    background: #47b2e4;
  }
  .mentor .social a:hover i {
    color: #fff;
  }
  
  .mentor .social a + a {
    margin-left: 8px;
  }
  .mentor_card
  {
     box-shadow: 0 2px 10px grey;
     transition: 0.5s;
  }
  .mentor_card:hover
  {
     transform: translateY(-10px);
     text-shadow: 0px 1px 2px #37517e;
  }

  /* --------------------------------------------- */
  /*                   FAQ                         */
  /* --------------------------------------------- */
 .FAQ
 {
    height: 100%;
    width: 100%;
    padding:20px 0px 40px 0px; 
 }
 @media (max-width: 575px)
 {
    .mentor_img
    {
      left:10px;
      top: 6px;
    }
 }
 
 /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: skyblue;
  margin-top: 40px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: rgba(217, 237, 245, 0.671);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}
